// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

@mixin placemiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'VT323', monospace;
}

.left-bar {
  width: 15%;
  color: greenyellow;
  background-color: black;
  background-size: 80px 80px;
  background-image:
    linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
    transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
    linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
    transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
    linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
    transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
    transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
    linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
    transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
    transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);

  header{
    height: 150px;
    text-align: center;
    .img {
      background-color: whitesmoke;
      height: 100px;
      width: 100px;
      align-items: center;
      display: inline-block;
      margin-top: 15px;
    }
    .username {
      height: 15px;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      background-color: whitesmoke;
    }
  }

  table {
    margin-top: 20px;
    font-size: 20px;
    color: #0000ee;
    tbody {
      tr {
        td {
          a {
            text-decoration: none;
          }
        }
      }
    }

  }

}

.main-contents {
  width: 70%;
  height: 100vh;
  // background-color: #9de6ce;

    header{
      height: 100px;
      background-color: pink;
      .header-logo{
        font-size: 50px;
        text-align: center;
        padding: 20px 30px 15px 30px;

      }
    }
    .post-list {
      height: calc(100vh - 250px);
      background-color: #9de6ce;
      overflow: scroll;
      
      &__posts {
        background-color: purple;
        height: 200px;;
        margin-left: 20px;
      }
      &__upperContents {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        padding-top: 15px;
      }
      &__userContents {
        display: flex;
      }
      &__userIcon {
        background-color: indianred;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
      &__userName {
        background-color:  darkcyan;
        height: 25px;
        width: 100px;

      }
      &__postDate {
        background-color: chocolate;
        height: 20px;
        width: 70px;

      }
      &__bottomContents {
        display: flex;
      }
      &__albumImage {
        background-color: sandybrown;
        height: 130px;
        width: 130px;
        margin-right: 50px;
        margin-left: 25px;
      }
      &__musicTitle {
        background-color: lightgreen;
        height: 25px;
        width: 100px;
      }
      &__artistName {
        background-color: crimson;
        height: 25px;
        width: 100px;
      }
      &__comment {
        background-color: cornflowerblue;
        height: 80px;
        width: 250px;
      }
    }
  footer {
    height: 150px;
    margin: 0px 50px;
    
      Form {
        font-size: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
          .form__imageForm {
            height: 120px;
            width: 120px;
            margin-right: 10px;
            position: relative;
            .form__image {
              left: 30px;
              top: 30px;
              position: absolute;
                .form__selectFile {
                  display: none;
                }
            }  
          }
      
          .form__contents {
            margin-right: 30px;
              .form__textForm {
                height: 20px;
                width: 300px;
                display: block;
                padding: 0 10px;
                line-height: 50px;
              }
              .field_with_errors {
                height: 50px;
                display: block;
                padding: 0 10px;
                margin-right: 15px;
                line-height: 50px;
                width: 100%;
              }
              .form__commentForm {
                  height: 80px;
                  width: 300px;
                  display: block;
                  padding: 0 10px;
              }

          }
          .form__submit {
            background-color: black;
            color: greenyellow;
            border: 1px solid greenyellow;
            font-size: 20px;
            padding: 0 30px;
            height: 50px;
            display: block;
          }
      }
  }
}


.right-bar {
  width: 15%;
  background-color: rgb(153, 153, 153);
  background-size: 80px 80px;
  background-image:
    linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
    transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
    linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
    transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
    linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
    transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
    transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
    linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
    transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
    transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
}
