.left-bar
  %header.icon
    .img
    .username
  %table.Menu-list{:bgcolor => "#20da05", :border => "0", :cellpadding => "0", :cellspacing => "1", :width => "200"}
    %tbody
      %tr
        %td{:bgcolor => "#20da05", :height => "28"}
           
          %a.dos{:href => "/HOME/"} HOME
      %tr
        %td{:bgcolor => "#000000", :height => "28"}
           
          %a{:href => "/AAA/"} MYPAGE
      %tr
        %td{:bgcolor => "#000000", :height => "28"}
           
          %a{:href => "/VISUAL/"} VISUAL
      %tr
        %td{:bgcolor => "#000000", :height => "28"}
           
          %a{:href => "/LIVE/"} LIVE
      %tr
        %td{:bgcolor => "#000000", :height => "28"}
           
          %a{:href => "/DISCOGRAPHY/"} DISCOGRAPHY
      %tr
        %td{:bgcolor => "#000000", :height => "28"}
           
          %a{:href => "/BIOGRAPHY/"} BIOGRAPHY
      %tr
        %td{:bgcolor => "#000000", :height => "28"}
           
          %a{:href => "/PRESS/"} PRESS
      %tr
        %td{:bgcolor => "#000000", :height => "28"}
           
          %a{:href => "/PROJECTS/"} PROJECTS
      %tr
        %td{:bgcolor => "#000000", :height => "28"}
           
          %a{:href => "/CONTACT/"} CONTACT
      %tr
        %td{:bgcolor => "#000000", :height => "28"}
           
          %a{:href => "/CART/"} SIGN IN/UP