.leftside-bar
  %header.icon
    .img
    .username
      = current_user.name
  .leftside-bar__list
    
    %ul.leftside-bar__menuList
      %li.leftside__menu.leftside__topmenu
        = link_to edit_user_path(current_user) do
          HOME
      %li.leftside__menu
        = link_to edit_user_path(current_user) do
          MYPAGE
      %li.leftside__menu
        = link_to edit_user_path(current_user) do
          SIGN IN/UP

      